PensionPortal/PensionPortal/Web References/NAVWS/Pension.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/codeunit/Pension" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/Pension" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/Pension" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="CheckValidPensionerNo">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="username" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CheckValidPensionerNo_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="CheckPensionerPasswordChanged">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="username" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CheckPensionerPasswordChanged_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CheckPensionerLogin">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="username" type="string" />
            <element minOccurs="1" maxOccurs="1" name="userpassword" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CheckPensionerLogin_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetPensionerProfileDetails">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="username" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetPensionerProfileDetails_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FormatISODate">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="realDate" type="date" />
          </sequence>
        </complexType>
      </element>
      <element name="FormatISODate_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GenerateBeneficiaryReport">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="path" type="string" />
            <element minOccurs="1" maxOccurs="1" name="fileName" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GenerateBeneficiaryReport_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GeneratePensionStatement1">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="path" type="string" />
            <element minOccurs="1" maxOccurs="1" name="pensionerNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="startDate" type="date" />
            <element minOccurs="1" maxOccurs="1" name="endDate" type="date" />
            <element minOccurs="1" maxOccurs="1" name="fileNameFromApp" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GeneratePensionStatement1_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GeneratePensionStatement">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="path" type="string" />
            <element minOccurs="1" maxOccurs="1" name="pensionerNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="startDate" type="date" />
            <element minOccurs="1" maxOccurs="1" name="endDate" type="date" />
            <element minOccurs="1" maxOccurs="1" name="fileNameFromApp" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GeneratePensionStatement_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GeneratePortalPensionStatement">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="pensionerNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="startDate" type="date" />
            <element minOccurs="1" maxOccurs="1" name="endDate" type="date" />
            <element minOccurs="1" maxOccurs="1" name="filenameFromApp" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GeneratePortalPensionStatement_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetLifeCertDates">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetLifeCertDates_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetLifeCertStatusReport">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="pensionerNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetLifeCertStatusReport_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetMemberBeneficiaries">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="username" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetMemberBeneficiaries_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetMonthlyPensionDeduction">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="pensiorNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetMonthlyPensionDeduction_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetMonthlyPension">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="pensiorNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetMonthlyPension_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetPaySchedule">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetPaySchedule_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetPayrollPeriods">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetPayrollPeriods_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetPensionerDeductions">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="username" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetPensionerDeductions_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetPensionerEmail">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="username" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetPensionerEmail_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetPensionerName">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="username" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetPensionerName_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetPensionerProfileDetails1">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="username" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetPensionerProfileDetails1_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetUpdates">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetUpdates_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="LifeCertificate1">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="path" type="string" />
            <element minOccurs="1" maxOccurs="1" name="fileName" type="string" />
            <element minOccurs="1" maxOccurs="1" name="pensionerNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="period" type="date" />
          </sequence>
        </complexType>
      </element>
      <element name="LifeCertificate1_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="LifeCertificate">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="path" type="string" />
            <element minOccurs="1" maxOccurs="1" name="fileName" type="string" />
            <element minOccurs="1" maxOccurs="1" name="pensionerNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="period" type="date" />
          </sequence>
        </complexType>
      </element>
      <element name="LifeCertificate_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="LoginForUnchangedPassword">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="username" type="string" />
            <element minOccurs="1" maxOccurs="1" name="password" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="LoginForUnchangedPassword_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="PensionerLiabilityStatement">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="path" type="string" />
            <element minOccurs="1" maxOccurs="1" name="fileName" type="string" />
            <element minOccurs="1" maxOccurs="1" name="pensionerNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="startDate" type="date" />
            <element minOccurs="1" maxOccurs="1" name="endDate" type="date" />
          </sequence>
        </complexType>
      </element>
      <element name="PensionerLiabilityStatement_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="UpdatePensionerAutoGenPassword">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="username" type="string" />
            <element minOccurs="1" maxOccurs="1" name="genpass" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="UpdatePensionerAutoGenPassword_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="UpdatePensionerPassword">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="username" type="string" />
            <element minOccurs="1" maxOccurs="1" name="password" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="UpdatePensionerPassword_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="UploadProfilePicture">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="username" type="string" />
            <element minOccurs="1" maxOccurs="1" name="fileName" type="string" />
            <element minOccurs="1" maxOccurs="1" name="description" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="UploadProfilePicture_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <message name="CheckValidPensionerNo">
    <part name="parameters" element="tns:CheckValidPensionerNo" />
  </message>
  <message name="CheckValidPensionerNo_Result">
    <part name="parameters" element="tns:CheckValidPensionerNo_Result" />
  </message>
  <message name="CheckPensionerPasswordChanged">
    <part name="parameters" element="tns:CheckPensionerPasswordChanged" />
  </message>
  <message name="CheckPensionerPasswordChanged_Result">
    <part name="parameters" element="tns:CheckPensionerPasswordChanged_Result" />
  </message>
  <message name="CheckPensionerLogin">
    <part name="parameters" element="tns:CheckPensionerLogin" />
  </message>
  <message name="CheckPensionerLogin_Result">
    <part name="parameters" element="tns:CheckPensionerLogin_Result" />
  </message>
  <message name="GetPensionerProfileDetails">
    <part name="parameters" element="tns:GetPensionerProfileDetails" />
  </message>
  <message name="GetPensionerProfileDetails_Result">
    <part name="parameters" element="tns:GetPensionerProfileDetails_Result" />
  </message>
  <message name="FormatISODate">
    <part name="parameters" element="tns:FormatISODate" />
  </message>
  <message name="FormatISODate_Result">
    <part name="parameters" element="tns:FormatISODate_Result" />
  </message>
  <message name="GenerateBeneficiaryReport">
    <part name="parameters" element="tns:GenerateBeneficiaryReport" />
  </message>
  <message name="GenerateBeneficiaryReport_Result">
    <part name="parameters" element="tns:GenerateBeneficiaryReport_Result" />
  </message>
  <message name="GeneratePensionStatement1">
    <part name="parameters" element="tns:GeneratePensionStatement1" />
  </message>
  <message name="GeneratePensionStatement1_Result">
    <part name="parameters" element="tns:GeneratePensionStatement1_Result" />
  </message>
  <message name="GeneratePensionStatement">
    <part name="parameters" element="tns:GeneratePensionStatement" />
  </message>
  <message name="GeneratePensionStatement_Result">
    <part name="parameters" element="tns:GeneratePensionStatement_Result" />
  </message>
  <message name="GeneratePortalPensionStatement">
    <part name="parameters" element="tns:GeneratePortalPensionStatement" />
  </message>
  <message name="GeneratePortalPensionStatement_Result">
    <part name="parameters" element="tns:GeneratePortalPensionStatement_Result" />
  </message>
  <message name="GetLifeCertDates">
    <part name="parameters" element="tns:GetLifeCertDates" />
  </message>
  <message name="GetLifeCertDates_Result">
    <part name="parameters" element="tns:GetLifeCertDates_Result" />
  </message>
  <message name="GetLifeCertStatusReport">
    <part name="parameters" element="tns:GetLifeCertStatusReport" />
  </message>
  <message name="GetLifeCertStatusReport_Result">
    <part name="parameters" element="tns:GetLifeCertStatusReport_Result" />
  </message>
  <message name="GetMemberBeneficiaries">
    <part name="parameters" element="tns:GetMemberBeneficiaries" />
  </message>
  <message name="GetMemberBeneficiaries_Result">
    <part name="parameters" element="tns:GetMemberBeneficiaries_Result" />
  </message>
  <message name="GetMonthlyPensionDeduction">
    <part name="parameters" element="tns:GetMonthlyPensionDeduction" />
  </message>
  <message name="GetMonthlyPensionDeduction_Result">
    <part name="parameters" element="tns:GetMonthlyPensionDeduction_Result" />
  </message>
  <message name="GetMonthlyPension">
    <part name="parameters" element="tns:GetMonthlyPension" />
  </message>
  <message name="GetMonthlyPension_Result">
    <part name="parameters" element="tns:GetMonthlyPension_Result" />
  </message>
  <message name="GetPaySchedule">
    <part name="parameters" element="tns:GetPaySchedule" />
  </message>
  <message name="GetPaySchedule_Result">
    <part name="parameters" element="tns:GetPaySchedule_Result" />
  </message>
  <message name="GetPayrollPeriods">
    <part name="parameters" element="tns:GetPayrollPeriods" />
  </message>
  <message name="GetPayrollPeriods_Result">
    <part name="parameters" element="tns:GetPayrollPeriods_Result" />
  </message>
  <message name="GetPensionerDeductions">
    <part name="parameters" element="tns:GetPensionerDeductions" />
  </message>
  <message name="GetPensionerDeductions_Result">
    <part name="parameters" element="tns:GetPensionerDeductions_Result" />
  </message>
  <message name="GetPensionerEmail">
    <part name="parameters" element="tns:GetPensionerEmail" />
  </message>
  <message name="GetPensionerEmail_Result">
    <part name="parameters" element="tns:GetPensionerEmail_Result" />
  </message>
  <message name="GetPensionerName">
    <part name="parameters" element="tns:GetPensionerName" />
  </message>
  <message name="GetPensionerName_Result">
    <part name="parameters" element="tns:GetPensionerName_Result" />
  </message>
  <message name="GetPensionerProfileDetails1">
    <part name="parameters" element="tns:GetPensionerProfileDetails1" />
  </message>
  <message name="GetPensionerProfileDetails1_Result">
    <part name="parameters" element="tns:GetPensionerProfileDetails1_Result" />
  </message>
  <message name="GetUpdates">
    <part name="parameters" element="tns:GetUpdates" />
  </message>
  <message name="GetUpdates_Result">
    <part name="parameters" element="tns:GetUpdates_Result" />
  </message>
  <message name="LifeCertificate1">
    <part name="parameters" element="tns:LifeCertificate1" />
  </message>
  <message name="LifeCertificate1_Result">
    <part name="parameters" element="tns:LifeCertificate1_Result" />
  </message>
  <message name="LifeCertificate">
    <part name="parameters" element="tns:LifeCertificate" />
  </message>
  <message name="LifeCertificate_Result">
    <part name="parameters" element="tns:LifeCertificate_Result" />
  </message>
  <message name="LoginForUnchangedPassword">
    <part name="parameters" element="tns:LoginForUnchangedPassword" />
  </message>
  <message name="LoginForUnchangedPassword_Result">
    <part name="parameters" element="tns:LoginForUnchangedPassword_Result" />
  </message>
  <message name="PensionerLiabilityStatement">
    <part name="parameters" element="tns:PensionerLiabilityStatement" />
  </message>
  <message name="PensionerLiabilityStatement_Result">
    <part name="parameters" element="tns:PensionerLiabilityStatement_Result" />
  </message>
  <message name="UpdatePensionerAutoGenPassword">
    <part name="parameters" element="tns:UpdatePensionerAutoGenPassword" />
  </message>
  <message name="UpdatePensionerAutoGenPassword_Result">
    <part name="parameters" element="tns:UpdatePensionerAutoGenPassword_Result" />
  </message>
  <message name="UpdatePensionerPassword">
    <part name="parameters" element="tns:UpdatePensionerPassword" />
  </message>
  <message name="UpdatePensionerPassword_Result">
    <part name="parameters" element="tns:UpdatePensionerPassword_Result" />
  </message>
  <message name="UploadProfilePicture">
    <part name="parameters" element="tns:UploadProfilePicture" />
  </message>
  <message name="UploadProfilePicture_Result">
    <part name="parameters" element="tns:UploadProfilePicture_Result" />
  </message>
  <portType name="Pension_Port">
    <operation name="CheckValidPensionerNo">
      <input name="CheckValidPensionerNo" message="tns:CheckValidPensionerNo" />
      <output name="CheckValidPensionerNo_Result" message="tns:CheckValidPensionerNo_Result" />
    </operation>
    <operation name="CheckPensionerPasswordChanged">
      <input name="CheckPensionerPasswordChanged" message="tns:CheckPensionerPasswordChanged" />
      <output name="CheckPensionerPasswordChanged_Result" message="tns:CheckPensionerPasswordChanged_Result" />
    </operation>
    <operation name="CheckPensionerLogin">
      <input name="CheckPensionerLogin" message="tns:CheckPensionerLogin" />
      <output name="CheckPensionerLogin_Result" message="tns:CheckPensionerLogin_Result" />
    </operation>
    <operation name="GetPensionerProfileDetails">
      <input name="GetPensionerProfileDetails" message="tns:GetPensionerProfileDetails" />
      <output name="GetPensionerProfileDetails_Result" message="tns:GetPensionerProfileDetails_Result" />
    </operation>
    <operation name="FormatISODate">
      <input name="FormatISODate" message="tns:FormatISODate" />
      <output name="FormatISODate_Result" message="tns:FormatISODate_Result" />
    </operation>
    <operation name="GenerateBeneficiaryReport">
      <input name="GenerateBeneficiaryReport" message="tns:GenerateBeneficiaryReport" />
      <output name="GenerateBeneficiaryReport_Result" message="tns:GenerateBeneficiaryReport_Result" />
    </operation>
    <operation name="GeneratePensionStatement1">
      <input name="GeneratePensionStatement1" message="tns:GeneratePensionStatement1" />
      <output name="GeneratePensionStatement1_Result" message="tns:GeneratePensionStatement1_Result" />
    </operation>
    <operation name="GeneratePensionStatement">
      <input name="GeneratePensionStatement" message="tns:GeneratePensionStatement" />
      <output name="GeneratePensionStatement_Result" message="tns:GeneratePensionStatement_Result" />
    </operation>
    <operation name="GeneratePortalPensionStatement">
      <input name="GeneratePortalPensionStatement" message="tns:GeneratePortalPensionStatement" />
      <output name="GeneratePortalPensionStatement_Result" message="tns:GeneratePortalPensionStatement_Result" />
    </operation>
    <operation name="GetLifeCertDates">
      <input name="GetLifeCertDates" message="tns:GetLifeCertDates" />
      <output name="GetLifeCertDates_Result" message="tns:GetLifeCertDates_Result" />
    </operation>
    <operation name="GetLifeCertStatusReport">
      <input name="GetLifeCertStatusReport" message="tns:GetLifeCertStatusReport" />
      <output name="GetLifeCertStatusReport_Result" message="tns:GetLifeCertStatusReport_Result" />
    </operation>
    <operation name="GetMemberBeneficiaries">
      <input name="GetMemberBeneficiaries" message="tns:GetMemberBeneficiaries" />
      <output name="GetMemberBeneficiaries_Result" message="tns:GetMemberBeneficiaries_Result" />
    </operation>
    <operation name="GetMonthlyPensionDeduction">
      <input name="GetMonthlyPensionDeduction" message="tns:GetMonthlyPensionDeduction" />
      <output name="GetMonthlyPensionDeduction_Result" message="tns:GetMonthlyPensionDeduction_Result" />
    </operation>
    <operation name="GetMonthlyPension">
      <input name="GetMonthlyPension" message="tns:GetMonthlyPension" />
      <output name="GetMonthlyPension_Result" message="tns:GetMonthlyPension_Result" />
    </operation>
    <operation name="GetPaySchedule">
      <input name="GetPaySchedule" message="tns:GetPaySchedule" />
      <output name="GetPaySchedule_Result" message="tns:GetPaySchedule_Result" />
    </operation>
    <operation name="GetPayrollPeriods">
      <input name="GetPayrollPeriods" message="tns:GetPayrollPeriods" />
      <output name="GetPayrollPeriods_Result" message="tns:GetPayrollPeriods_Result" />
    </operation>
    <operation name="GetPensionerDeductions">
      <input name="GetPensionerDeductions" message="tns:GetPensionerDeductions" />
      <output name="GetPensionerDeductions_Result" message="tns:GetPensionerDeductions_Result" />
    </operation>
    <operation name="GetPensionerEmail">
      <input name="GetPensionerEmail" message="tns:GetPensionerEmail" />
      <output name="GetPensionerEmail_Result" message="tns:GetPensionerEmail_Result" />
    </operation>
    <operation name="GetPensionerName">
      <input name="GetPensionerName" message="tns:GetPensionerName" />
      <output name="GetPensionerName_Result" message="tns:GetPensionerName_Result" />
    </operation>
    <operation name="GetPensionerProfileDetails1">
      <input name="GetPensionerProfileDetails1" message="tns:GetPensionerProfileDetails1" />
      <output name="GetPensionerProfileDetails1_Result" message="tns:GetPensionerProfileDetails1_Result" />
    </operation>
    <operation name="GetUpdates">
      <input name="GetUpdates" message="tns:GetUpdates" />
      <output name="GetUpdates_Result" message="tns:GetUpdates_Result" />
    </operation>
    <operation name="LifeCertificate1">
      <input name="LifeCertificate1" message="tns:LifeCertificate1" />
      <output name="LifeCertificate1_Result" message="tns:LifeCertificate1_Result" />
    </operation>
    <operation name="LifeCertificate">
      <input name="LifeCertificate" message="tns:LifeCertificate" />
      <output name="LifeCertificate_Result" message="tns:LifeCertificate_Result" />
    </operation>
    <operation name="LoginForUnchangedPassword">
      <input name="LoginForUnchangedPassword" message="tns:LoginForUnchangedPassword" />
      <output name="LoginForUnchangedPassword_Result" message="tns:LoginForUnchangedPassword_Result" />
    </operation>
    <operation name="PensionerLiabilityStatement">
      <input name="PensionerLiabilityStatement" message="tns:PensionerLiabilityStatement" />
      <output name="PensionerLiabilityStatement_Result" message="tns:PensionerLiabilityStatement_Result" />
    </operation>
    <operation name="UpdatePensionerAutoGenPassword">
      <input name="UpdatePensionerAutoGenPassword" message="tns:UpdatePensionerAutoGenPassword" />
      <output name="UpdatePensionerAutoGenPassword_Result" message="tns:UpdatePensionerAutoGenPassword_Result" />
    </operation>
    <operation name="UpdatePensionerPassword">
      <input name="UpdatePensionerPassword" message="tns:UpdatePensionerPassword" />
      <output name="UpdatePensionerPassword_Result" message="tns:UpdatePensionerPassword_Result" />
    </operation>
    <operation name="UploadProfilePicture">
      <input name="UploadProfilePicture" message="tns:UploadProfilePicture" />
      <output name="UploadProfilePicture_Result" message="tns:UploadProfilePicture_Result" />
    </operation>
  </portType>
  <binding name="Pension_Binding" type="tns:Pension_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="CheckValidPensionerNo">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Pension:CheckValidPensionerNo" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CheckValidPensionerNo">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CheckValidPensionerNo_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CheckPensionerPasswordChanged">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Pension:CheckPensionerPasswordChanged" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CheckPensionerPasswordChanged">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CheckPensionerPasswordChanged_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CheckPensionerLogin">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Pension:CheckPensionerLogin" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CheckPensionerLogin">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CheckPensionerLogin_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetPensionerProfileDetails">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Pension:GetPensionerProfileDetails" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetPensionerProfileDetails">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetPensionerProfileDetails_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FormatISODate">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Pension:FormatISODate" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FormatISODate">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FormatISODate_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GenerateBeneficiaryReport">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Pension:GenerateBeneficiaryReport" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GenerateBeneficiaryReport">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GenerateBeneficiaryReport_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GeneratePensionStatement1">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Pension:GeneratePensionStatement1" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GeneratePensionStatement1">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GeneratePensionStatement1_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GeneratePensionStatement">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Pension:GeneratePensionStatement" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GeneratePensionStatement">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GeneratePensionStatement_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GeneratePortalPensionStatement">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Pension:GeneratePortalPensionStatement" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GeneratePortalPensionStatement">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GeneratePortalPensionStatement_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetLifeCertDates">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Pension:GetLifeCertDates" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetLifeCertDates">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetLifeCertDates_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetLifeCertStatusReport">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Pension:GetLifeCertStatusReport" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetLifeCertStatusReport">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetLifeCertStatusReport_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetMemberBeneficiaries">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Pension:GetMemberBeneficiaries" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetMemberBeneficiaries">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetMemberBeneficiaries_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetMonthlyPensionDeduction">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Pension:GetMonthlyPensionDeduction" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetMonthlyPensionDeduction">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetMonthlyPensionDeduction_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetMonthlyPension">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Pension:GetMonthlyPension" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetMonthlyPension">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetMonthlyPension_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetPaySchedule">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Pension:GetPaySchedule" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetPaySchedule">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetPaySchedule_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetPayrollPeriods">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Pension:GetPayrollPeriods" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetPayrollPeriods">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetPayrollPeriods_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetPensionerDeductions">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Pension:GetPensionerDeductions" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetPensionerDeductions">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetPensionerDeductions_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetPensionerEmail">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Pension:GetPensionerEmail" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetPensionerEmail">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetPensionerEmail_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetPensionerName">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Pension:GetPensionerName" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetPensionerName">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetPensionerName_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetPensionerProfileDetails1">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Pension:GetPensionerProfileDetails1" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetPensionerProfileDetails1">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetPensionerProfileDetails1_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetUpdates">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Pension:GetUpdates" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetUpdates">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetUpdates_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="LifeCertificate1">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Pension:LifeCertificate1" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="LifeCertificate1">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="LifeCertificate1_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="LifeCertificate">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Pension:LifeCertificate" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="LifeCertificate">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="LifeCertificate_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="LoginForUnchangedPassword">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Pension:LoginForUnchangedPassword" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="LoginForUnchangedPassword">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="LoginForUnchangedPassword_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="PensionerLiabilityStatement">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Pension:PensionerLiabilityStatement" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="PensionerLiabilityStatement">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="PensionerLiabilityStatement_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdatePensionerAutoGenPassword">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Pension:UpdatePensionerAutoGenPassword" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdatePensionerAutoGenPassword">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdatePensionerAutoGenPassword_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdatePensionerPassword">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Pension:UpdatePensionerPassword" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdatePensionerPassword">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdatePensionerPassword_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UploadProfilePicture">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Pension:UploadProfilePicture" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UploadProfilePicture">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UploadProfilePicture_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="Pension">
    <port name="Pension_Port" binding="tns:Pension_Binding">
      <address location="https://192.168.10.19:7047/TelPosta/WS/Telposta%20Test/Codeunit/Pension" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>